/* blog page */

/* truncate text if product name too long https: //css-tricks.com/flexbox-truncated-text/  */

.product-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.blog-card {
    padding: 10px;
}

.card-body {
    background-color: #011627 !important;
    text-align: center;
}

.blog-title {
    color: #fdfffc;
}

.blog-title:hover {
    color: #2ec4b6;
    text-decoration: none;
}

.card-text {
    background-color: #fdfffc;
    /* padding: 10px; */
}

.blog-add-comment-link,
.blog-see-all-comment-link {
    color: #007bff;
}

.blog-add-comment-link:hover,
.blog-see-all-comment-link:hover {
    color: #2ec4b6;
    text-decoration: none;
}


@media (max-width: 320px) {

    /* blog page */

    .blog-welcome-title {
        font-size: 2rem;
    }

    /* add blog page */
    .add-blog-title-heading {
        font-size: 1.7rem;
    }
}

@media (max-width: 576px) {

    /* blog page */

    .blog-card {
        margin: 20px;
    }
}