html {
    height: 100%;
}

body {
    background: url('/media/woman-clean-healthy-curly-hair-girl-devushka-volosy-portret.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Akshar', sans-serif;
    ;
}

/* from Bulma provided by CI in walkthrough */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #011627;
    color: #fdfffc;
    min-width: 260px;
}

.btn-black {
    background: #011627;
    color: #fdfffc;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #2ec4b6;
    color: #fdfffc;
}

.text-black {
    color: #011627 !important;
}

.border-black {
    border: 1px solid #011627 !important;
}

.bg-black {
    background: #e71d36 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fdfffc;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #011627 !important;
    color: #fdfffc !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container to account for XL screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar for medium screens and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top of the screen when the navbar is collapsed on mobile screens */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}