<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=department&direction=asc" class="dropdown-item ">By Department</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skincare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skincare-link">
                <a href="{% url 'products' %}?department=anti_ageing" class="dropdown-item">Anti-ageing</a>
                <a href="{% url 'products' %}?department=dry_sensitive" class="dropdown-item">Dry &amp; sensitive</a>
                <a href="{% url 'products' %}?department=oily" class="dropdown-item">Oily</a>
                <a href="{% url 'products' %}?department=skin_conditioning" class="dropdown-item">Skin conditioning</a>
                <a href="{% url 'products' %}?department=bathtime" class="dropdown-item">Bathtime</a>
                <a href="{% url 'products' %}?department=anti_ageing,dry_sensitive,oily,bathtime,skin_conditioning" class="dropdown-item">All Skincare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="haircare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Haircare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haircare-link">
                <a href="{% url 'products' %}?department=hair_growth" class="dropdown-item">Hair growth</a>
                <a href="{% url 'products' %}?department=hair_conditioning" class="dropdown-item">Hair conditioning</a>
                <a href="{% url 'products' %}?department=beardcare" class="dropdown-item">Beard care</a>
                <a href="{% url 'products' %}?department=hair_growth,hair_conditioning,beardcare" class="dropdown-item">All Haircare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?department=skincare_accessories" class="dropdown-item">Skincare Accessories</a>
                <a href="{% url 'products' %}?department=haircare_accessories" class="dropdown-item">Haircare Accessories</a>
                <a href="{% url 'products' %}?department=skincare_accessories,haircare_accessories" class="dropdown-item">All Accessories</a>
            </div>
        </li>
    </ul>
</div>